#question{
    h1{
        font-size: 40px;
        line-height: 47px;
        font-weight: bold;
    }
    h2{
        font-size: 30px;
        line-height: 45px;
    }
    .ready{
        background: $btn-primary-bg;
        border-radius: 20px;
    }
    .accordion{
        background: none !important;
        .accordion-item{
            background: none !important;
            border-bottom: 1px solid #fff;
        }
        .accordion-header{
            color: #fff !important;
        }
        .accordion-button{
            background: none !important;
            &:focus{
                box-shadow: none !important;
            }
            &::after{
                background-image: url("../images/icons8-plus-48.png");
            }
        }
    }
}